.container
  .sixteen.columns.clearfix
    #links.sixteen.columns.omega
      hr
      a(href="mailto:team@terrapinhackers.com") Email
      |  | 
      a(href="http://www.terrapinhackers.com/fb") Facebook
      |  | 
      a(href="http://www.terrapinhackers.com/t") Twitter

    .clear
