extends layout


block css
  != css("index")


block js
  != js("index")


block content
  .container
    .sixteen.columns.clearfix
        #logo

        #robotFace
          #eyes
            #leftEye.eye.robotPart
              | ter·ra·pin (n.) /ˈtɛrəpɪn/
              ol
                li An Algonquian word for turtle.
                li Any of several North American turtles of the family Emydidae, that live in fresh or brackish water: especially diamondback terrapin. 
                li Usage: The diamondback terrapin has been the University of Maryland's official school mascot since 1932.

            #rightEye.eye.robotPart
              | hack·er (n.) /ˈhækər/
              ol
                li One who accesses a computer system by circumventing its security system.
                li One who makes innovative customizations or combinations of retail electronic and computer equipment.
                li One who combines excellence, playfulness, cleverness, and exploration in performed activities.

          #nose.robotPart
            | Make awesome stuff.
            | Meet fantastic people.
            | Maybe even start a company.
            | Hack with us.
            | Click here to join.

          #mouth.robotPart
            | We do three things, and three things only:
            ol
              li Build and do cool stuff on campus. We call these "campus hacks". You will hear about these as they happen.
              li Organize hack nights. This will be a night of hacking and building, along with (hopefully) some good food and TAs to help with homeworks and projects. If you're still not sure what hacking is, read this.
              li Go to hackathons. We organize massive trips to the best hackathons around; and negotiate for an easier reimbursement process and travel fees. We also try to make these trips unforgettable.

      .media
        a(href="#")
          img(src='images/email.gif', alt='Check us out on Facebook!')
        a(href="#")
          img(src='images/facebook.gif', alt='Check us out on Facebook!')
        a(href="#")
          img(src='images/twitter.gif', alt='Follow us on twitter!')

