extends layout


block css
  != css("index")


block js
  != js("index")


block content
  .container
    .sixteen.columns.clearfix
      .row#logo
        .sixteen.columns.alpha
          img(src="/img/roboto_icon.png", width="200", height="200", alt="Roboto")

      .row#robotFace
        .sixteen.columns.clearfix#eyes
          .six.columns.alpha#leftEye.eye.robotPart
            :markdown
              **ter·ra·pin (n.)**
              /ˈtɛrəpɪn/
            :markdown
              1. Any of several North American turtles of the family Emydidae, that live in fresh or brackish water: especially diamondback terrapin.
            :markdown
              *The diamondback terrapin has been the University of Maryland's official school mascot since 1932.*

          .four.columns.empty

          .six.columns.omega#rightEye.eye.robotPart
            :markdown
              **hack·er (n.)**
              /ˈhækər/
            :markdown
              1. One who makes innovative customizations or combinations of retail electronic and computer equipment.
              2. One who combines excellence, playfulness, cleverness, and exploration in performed activities.
          .clear


        .sixteen.columns#nose.robotPart
          :markdown
            Make [awesome] [1] stuff.
            Meet fantastic people.
            Maybe even [win a hackathon] [2].
            No experience needed. [Join now] [3]!

            [1]: http://mhacks.challengepost.com/submissions/17613-super-terrapin-bros            "Super Terrapin Bros from MHacks"
            [2]: http://www.umdrightnow.umd.edu/news/students-take-top-prize-intelligent-trashcan "The winning MHacks project"
            [3]: https://www.facebook.com/groups/hackersofmaryland                                "Official Facebook group"

      .sixteen.columns.omega
        .two.columns.empty.alpha
        .fourteen.columns.omega#mouth.robotPart
          :markdown
            We do three things:

            1. Hacktorials. Weekly student run workshops.
            2. Hack nights. Make something every Wednesday evening.
            3. [Hackathon] [6] trips. [Everyone] [4] should go to a hackathon.

            [1]: http://www.catb.org/esr/faqs/hacker-howto.html                         "How to Become a Hacker"
            [2]: http://www.paulgraham.com/gh.html                                      "Great Hackers"
            [3]: http://hiddenumd.weebly.com/2/post/2013/10/the-mckeldin-ferry.html     "The McKeldin Ferry"
            [4]: https://medium.com/hackathons-anonymous/7ebcd6bfda26                   "Hackathons are like gyms."
            [5]: http://mlh.io/blog/umd-wins-the-fall-2013-hackathon-season-10-15-2013/ "Maryland Wins the Fall 2013 Hackathon Season"
            [6]: https://medium.com/hackathons-anonymous/92668579601                    "WTF is a hackathon?"

        .clear
