extends layout


block css
  != css("index")


block js
  != js("index")


block content
  .container
    .sixteen.columns.clearfix
      .row#logo
        .sixteen.columns.alpha
          img(src="/img/index/roboto_icon.png", width= "200", height="200")

      .row#robotFace
        .sixteen.columns.clearfix#eyes
          .four.columns.alpha#leftEye.eye.robotPart
            :markdown
              **ter·ra·pin (n.)**
              /ˈtɛrəpɪn/
            :markdown
              1. Any of several North American turtles of the family Emydidae, that live in fresh or brackish water: especially diamondback terrapin.
            :markdown
              *The diamondback terrapin has been the University of Maryland's official school mascot since 1932.*

          .eight.columns.empty

          .four.columns.omega#rightEye.eye.robotPart
            :markdown
              **hack·er (n.)**
              /ˈhækər/
            :markdown
              1. One who makes innovative customizations or combinations of retail electronic and computer equipment.
              2. One who combines excellence, playfulness, cleverness, and exploration in performed activities.
          .clear


        .sixteen.columns#nose.robotPart
          :markdown
            Make awesome stuff.
            Meet fantastic people.
            Maybe even start a company.
            Hack with [us](https://www.facebook.com/groups/hackersofmaryland/).

      .sixteen.columns.omega
        .two.columns.empty.alpha
        .fourteen.columns.omega#mouth.robotPart
          p We do three things, and three things only:

          ol
            li Campus hacks. You'll hear about them when they happen.
            li
              :markdown
                Hack nights. [Hacking](http://stallman.org/articles/on-hacking.html) and free stuff - food, electronics, and TAs.
            li
              span.tooltip(title="concentrated innovation efferts") Hackathon
              |  trips. Massive, unforgettable, swagalicious hackathon trips.
        .clear
      .clear

