!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    meta(name="apple-mobile-web-app-capable", content="yes")

    link(rel="shortcut icon", type="image/png", href="/img/favicon.ico")

    title Terrapin Hackers

    != css('http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic')

    != css("reset")
    != css("/bower_components/skeleton/stylesheets/skeleton")
    != css("style")
    block css

    != js("/bower_components/jquery/jquery")
    != js("script")
    block js

  body
    #wrapper
      header#header
        include header
      #content(role="main")
        block content
      footer#footer
        include footer
