#robotFace
  margin 100px

  white-space pre-wrap
  text-align justify

  .robotPart
    margin-bottom 50px

  #eyes
    overflow-y auto
    .eye
      width 250px
    #leftEye
      float left
    #rightEye
      float right

  #nose
    width 200px
    margin-left auto; margin-right auto

