#logo
  margin-top 50px
  text-align center
  img

#robotFace
  margin 50px 0 0 0

  .robotPart
    margin-bottom 50px


  #eyes
    height 1%
    overflow auto

    .eye
      white-space pre-line

  #nose
    text-align center

  #mouth
      *
        padding 0 20px

