
#robotFace
  margin 100px
  .robotPart
    margin-bottom 20px
    text-align justify
  #eyes
    overflow-y auto
    .eye
      width 200px
    #leftEye
      float left
    #rightEye
      float right
  #nose
    width 150px
    margin-left auto; margin-right auto
