// Reset
@import nib
global-reset()
reset-html5()

*
  box-sizing border-box

input, textarea, button, select
  -webkit-appearance none
  border none
  background transparent
  &:focus
    outline none


// Main site styles
html, body
  height 100%
  min-height 100%

