// Reset
@import nib
global-reset()
reset-html5()

*
  box-sizing border-box

input, textarea, button, select
  -webkit-appearance none
  border none
  background transparent
  &:focus
    outline none


// Main site styles
html, body
  height 100%
  min-height 100%

.container 
  width 600px


.media
  margin 0 auto
  width 420px


.media img
  margin 0 10px
  cursor pointer

